################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IWCToolsLoader/CopilotIndices/17.14.1091.29919
/.vs/IWCToolsLoader/FileContentIndex
/.vs/IWCToolsLoader/v17
